/* general settings */
$backgroundColor: linear-gradient(135deg, #F4F7FC 0%, #A8DADC 50%, #1D3557 100%);
$primaryColor: #2B2D42;
$secondaryColor: #1d4a57;

/* Navbar */
$navbarBgColor: #1D3557;
$navbarTextColor: #F4F7FC;
$linkBgColor: #E0F7FA;


/* Logo */
$logoTextColor: #A8DADC;


/* main section */

$mainBgColor: rgba(255, 255, 255, 0.9);

/* buttons */
$btnBgColor: #457B9D;
$btnTextColor: #F4F7FC;
$deleteBtnColor: #E63946;
$deleteBtnHover: #D62828;

/* Shadows */

$deepShadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
$lightShadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

/* input */

$inputBorder: #ccc;

/* list item */

$listItemColor: #fff;

