@import 'form';
@import 'buttons';
@import 'modal';
@import 'list';

.main {
    background-color: $mainBgColor;
    padding: 20px;
    border-radius: 10px;
    box-shadow: $deepShadow;
    width: 30rem;
    @include displayCenter(column);

    &__title {
        color: $secondaryColor;
        font-family: $titleFont, sans-serif;
        font-size: $titleSize;
        font-weight: $titleWeight;
        align-items: center;
    }
  }


