.main-nav {
	&__list {
		background-color: $linkBgColor;
		padding: 1rem;
		border-radius: 10px;
		text-decoration: none;
		display: flex;
		gap: 2rem;
		list-style: none;
		justify-content: space-between;
	}

	&__language-switcher {
		@include displayCenter();
	}

	&__item a {
		text-decoration: none;

		&.active, &:hover {
			text-decoration: underline;
		}
	}
}
