@import 'form';
@import 'buttons';
@import 'modal';
@import 'list';

.task-wrapper, .error-page, .credits {
	background-color: $mainBgColor;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: $deepShadow;
	width: 43%;
	@include displayCenter(column);
    margin: 3rem auto;
	&__title {
		color: $secondaryColor;
		font-family: $titleFont, sans-serif;
		font-size: $titleSize;
		font-weight: $titleWeight;
		align-items: center;
	}
}

