@import 'colors';
@import 'mixins';
@import 'fonts';

@import 'header';
@import 'task-wrapper';
@import 'footer';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  background: $backgroundColor;
  color: $primaryColor;

  font-family: $mainFont, sans-serif;
  font-size: $mainSize;
  font-weight: $mainWeight;
  position: relative;
  min-height: 100vh;
}

#root, section {
  margin-bottom: 2.5rem;
}

header, main, footer {
  grid-column: 1 / -1;
}

article {
  margin-bottom: 2.5rem;
}


